{% extends 'nav_foot.html' %}
{% load static %}

{% block title %}Categorías{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">

        <!-- Mensajes de alerta -->
        {% if messages %}
        <div class="alert alert-dismissible fade show" role="alert">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <!-- Enlaces de navegación -->
        <a href="{% url 'Productos:prodsAdmin' %}" class="btn btn-purple">Productos</a>
        <a href="{% url 'Productos:marcas' %}" class="btn btn-purple">Marcas</a>
        <br><br>

        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">

                <style>
                    .btn-purple {
                    background-color: #4E319B;
                    color: white;
                }
                </style>

                <!-- Tabla de categorías -->
                <div class="table-responsive">
                    <table class="table table-striped"  style="border: solid 1px gray;">
                        <thead class="text-center">
                            <tr>
                                <th scope="col">Imágenes</th>
                                <th scope="col">Categorías</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            {% for categ in categorias %}
                            <tr>
                                <td>
                                    {% if categ.imagen %}
                                    <img src="{{ categ.imagen.url }}" alt="{{ categ.categoria }}" class="img-thumbnail" style="max-width: 100px;">
                                    {% endif %}
                                </td>
                                <td>{{ categ.categoria }}</td>
                                <td>
                                    <!-- Acciones de producto -->
                                    <a href="{% url 'Productos:updatedCateg' categ.id %}" class="btn btn-warning btn-sm">Editar</a>
                                    <a href="#" onclick="confirmDelete('{{ categ.id }}')" class="btn btn-danger btn-sm">Eliminar</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- Enlace para agregar categoría -->
                <div class="text-center mt-3">
                    <a href="{% url 'Productos:addCateg' %}" class="btn btn-purple">Agregar categoría</a>
                </div>

            </div>
        </div>
    </div>
</section>

     <!-- configuracion de alerta con sweetalert2 -->

     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

     <!-- Script para confirmación de eliminación -->
         <script>
         function confirmDelete(categId) {
             Swal.fire({
                 title: "¿Estás seguro?",
                 text: "No podrás revertir esto.",
                 icon: "warning",
                 showCancelButton: true,
                 confirmButtonColor: "#3085d6",
                 cancelButtonColor: "#d33",
                 confirmButtonText: "Confirmar",
                 cancelButtonText: "Cancelar"
             }).then((result) => {
                 if (result.isConfirmed) {
                     // Redirigir a la URL de eliminación
                     window.location.href = "{% url 'Productos:delateCateg'  0 %}".replace('0', categId);
                 }
             });
         }
         </script>

{% endblock %}